<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}{{ end }}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/vendor/css/bootstrap.min.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/css/style.css">
    <link rel="stylesheet" href="assets/vendor/css/icon-hs-style.css">

    <link rel="stylesheet" href="assets/vendor/css/slick.css">
    <link rel="stylesheet" href="assets/vendor/css/dzsparallaxer.css">
    <link rel="stylesheet" href="assets/vendor/css/scroller.css">
    <link rel="stylesheet" href="assets/vendor/css/plugin.css">
    <link rel="stylesheet" href="assets/vendor/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="assets/vendor/css/hamburgers.min.css">
    <link rel="stylesheet" href="assets/vendor/css/hs.megamenu.css">
    <link rel="stylesheet" href="assets/vendor/css/animate.css">
    <link rel="stylesheet" href="assets/vendor/css/jquery.mCustomScrollbar.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="assets/vendor/css/unify.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/vendor/css/custom.css">
  </head>

  <body class="u-body--header-side-static-left">
    {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
    <main>

    {{ block "main" . }}{{ end }}

      

     
      {{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}
      {{ block "copyright" . }}{{ partial "site-copyright.html" . }}{{ end }}
      
    </main>

    {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}
    
  </body>
</html>
