{{ define "main" }}

  <!-- Promo Block -->
  <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-min-height-100vh g-flex-middle" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
      <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center" style="height: 120%; background-image: url(images/head-banner.jpg);"></div>

      <div class="container g-flex-middle-item g-py-200">
        <div class="row">
          <div class="col-md-6">
            <h3 class="g-color-black g-font-weight-300 g-font-size-40 g-line-height-1_2 mb-4">Welcome to Redeemer Church of Dubai </h3>
            <span class="d-block g-color-black-opacity-0_8 g-font-size-16 mb-5">{{ .Content }}</span>
            <a class="js-fancybox u-link-v5 g-color-black" href="https://vimeo.com/124091605" title="Single Image">
              <span class="align-middle u-icon-v3 u-block-hover--scale g-bg-white g-color-black g-color-primary--hover g-rounded-50x g-cursor-pointer mr-2">
                <i class="g-font-size-18 g-pos-rel g-left-2 fa fa-play"></i>
              </span>
              1:41 minutes
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Promo Block -->

    <!-- About -->
    <section class="g-pt-100 g-pb-100">
      <div class="container">
        <!-- Image, Text Block -->
        <div class="row d-flex align-items-lg-center flex-wrap g-mb-60 g-mb-0--lg">
          <div class="col-md-6 col-lg-8">
            <img class="img-fluid rounded" src="{{ .Params.firstPicture }}" alt="Image Description">
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="g-mt-minus-30 g-mt-0--md g-ml-minus-100--lg">
              <div class="g-mb-20">
                <h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">{{ .Params.firstTitle }}</h2>
                <p class="g-font-size-16">{{ .Params.firstDescription }}</p>
              </div>
              <a class="btn u-btn-primary g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="#">
                  {{ .Params.firstLink }}
                <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- End Image, Text Block -->
      </div>

      <div class="container">
        <!-- Image, Text Block -->
        <div class="row d-flex justify-content-between align-items-lg-center flex-wrap g-mt-minus-50--lg">
          <div class="col-md-6 flex-md-unordered">
            <div class="g-brd-around--md g-brd-10 g-brd-white rounded">
              <img class="img-fluid w-100 rounded" src="{{ .Params.secondPicture }}" alt="Image Description">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ml-auto flex-md-first">
            <div class="g-mt-minus-30 g-mt-0--md g-ml-minus-100--lg">
              <div class="g-mb-20">
                <h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">{{ .Params.secondTitle }}</h2>
                <p class="g-font-size-16">{{ .Params.secondDescription }}</p>
              </div>
              <a class="btn u-btn-primary g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="#">
                  {{ .Params.secondLink }}
                <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- End Image, Text Block -->
      </div>
    </section>
    <!-- End About -->



    <!-- Timeline -->
    <section id="schedule" class="g-pt-150 g-pb-90 g-pb-170--md">
      <div class="container">
        <div class="text-center g-mb-70">
          <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-mb-30">CONNECT WITH US
            <span class="g-font-weight-400 g-font-size-40">|</span>
            <span class="g-color-primary">schedule & Events</span></h2>

          <p>Nam sed erat aliquet libero aliquet commodo. Donec euismod augue non quam finibus, nec iaculis tellus gravida. Integer
            <br> efficitur eros ut dui laoreet, ut blandit turpis tincidunt.</p>
        </div>

        <!-- Nav tabs -->
        <ul class="nav justify-content-center text-uppercase u-nav-v5-3 u-nav-primary g-line-height-1_4 g-font-weight-700 g-font-size-14 g-brd-bottom--md g-brd-gray-light-v4 g-mb-80--md" role="tablist"
            data-target="days"
            data-tabs-mobile-type="slide-up-down"
            data-btn-classes="btn btn-md btn-block text-uppercase g-font-weight-700 u-btn-outline-primary">
          <li class="nav-item g-mx-10--md">
            <a class="nav-link g-theme-color-gray-dark-v1 g-color-primary--hover g-pb-15--md active" data-toggle="tab" href="#day-1" role="tab">September 2017</a>
          </li>
          <!--<li class="nav-item g-mx-10--md">
            <a class="nav-link g-theme-color-gray-dark-v1 g-color-primary--hover g-pb-15--md" data-toggle="tab" href="#day-2" role="tab">Day 2</a>
          </li>
          <li class="nav-item g-mx-10--md">
            <a class="nav-link g-theme-color-gray-dark-v1 g-color-primary--hover g-pb-15--md" data-toggle="tab" href="#day-3" role="tab">Day 3</a>
          </li>-->
        </ul>
        <!-- End Nav tabs -->

        <!-- Tab panes -->
        <div id="days" class="tab-content g-pt-20">
          <div class="tab-pane fade show active" id="day-1" role="tabpanel">
            <div class="u-timeline-v3-wrap">
              <a class="u-timeline-v3 d-block text-center text-md-left g-parent u-link-v5 g-mb-50" href="#">
                <div class="hidden-sm-down u-timeline-v3__icon g-absolute-centered--y g-z-index-3 g-line-height-0 g-width-16 g-height-16 g-ml-minus-8">
                  <i class="d-inline-block g-width-16 g-height-16 g-bg-white g-brd-5 g-brd-style-solid g-brd-gray-light-v4 g-rounded-50"></i>
                </div>

                <div class="row mx-0">
                  <div class="col-md-3 g-order-2 g-order-1--sm d-flex align-self-center px-0">
                    <div class="u-heading-v1-4 g-brd-gray-light-v2 w-100">
                      <span class="text-center g-pos-rel d-block g-width-110 g-line-height-1_6 g-font-weight-600 g-color-white g-font-size-14 g-bg-gray-dark-v1 g-bg-primary--parent-hover g-py-5 g-px-10 mx-auto g-ml-0--md g-transition-0_2 g-transition--ease-in">15:30 - 17:30</span>
                    </div>
                  </div>

                  <div class="col-md-9 g-order-1 g-order-2--sm px-0 g-mb-15 g-mb-0--md">
                    <div class="media d-block d-md-flex">
                      <div class="d-md-flex u-bg-overlay g-width-120 g-width-170--md g-height-120 g-height-170--md g-bg-darkblue-opacity-0_7--after g-bg-white-opacity-0--after--parent-hover g-overflow-hidden g-rounded-50x g-mr-30--md mx-auto g-mb-15 g-mb-0--md g-transition-0_2 g-transition--ease-in">
                        <img class="img-fluid g-rounded-50x" src="images/img1c.jpg" alt="Image description">
                      </div>

                      <div class="media-body align-self-center">
                        <h4 class="text-uppercase g-font-weight-700 g-font-size-12 g-color-primary g-mb-5">10 September 2017</h4>
                        <h3 class="text-uppercase g-font-weight-700 g-font-size-23 g-mb-10">Scott Zeller</h3>
                        <p class="g-color-gray-dark-v5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut scelerisque odio, a viverra arcu. Nulla ut suscipit velit, non dictum quam. Proin hendrerit vulputate mauris a imperdiet</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>

              <a class="u-timeline-v3 d-block text-center text-md-left g-parent u-link-v5 g-mb-50" href="#">
                <div class="hidden-sm-down u-timeline-v3__icon g-absolute-centered--y g-z-index-3 g-line-height-0 g-width-16 g-height-16 g-ml-minus-8">
                  <i class="d-inline-block g-width-16 g-height-16 g-bg-white g-brd-5 g-brd-style-solid g-brd-gray-light-v4 g-rounded-50"></i>
                </div>

                <div class="row mx-0">
                  <div class="col-md-3 g-order-2 g-order-1--sm d-flex align-self-center px-0">
                    <div class="u-heading-v1-4 g-brd-gray-light-v2 w-100">
                      <span class="text-center g-pos-rel d-block g-width-110 g-line-height-1_6 g-font-weight-600 g-color-white g-font-size-14 g-bg-gray-dark-v1 g-bg-primary--parent-hover g-py-5 g-px-10 mx-auto g-ml-0--md g-transition-0_2 g-transition--ease-in">17:45 - 18:45</span>
                    </div>
                  </div>

                  <div class="col-md-9 g-order-1 g-order-2--sm px-0 g-mb-15 g-mb-0--md">
                    <div class="media d-block d-md-flex">
                      <div class="d-md-flex u-bg-overlay g-width-120 g-width-170--md g-height-120 g-height-170--md g-bg-darkblue-opacity-0_7--after g-bg-white-opacity-0--after--parent-hover g-overflow-hidden g-rounded-50x g-mr-30--md mx-auto g-mb-15 g-mb-0--md g-transition-0_2 g-transition--ease-in">
                        <img class="img-fluid g-rounded-50x" src="images/img2.jpg" alt="Image description">
                      </div>

                      <div class="media-body align-self-center">
                        <h4 class="text-uppercase g-font-weight-700 g-font-size-12 g-color-primary g-mb-5">15 September 2017</h4>
                        <h3 class="text-uppercase g-font-weight-700 g-font-size-23 g-mb-10">Jason Berrus</h3>
                        <p class="g-color-gray-dark-v5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut scelerisque odio, a viverra arcu. Nulla ut suscipit velit, non dictum quam. Proin hendrerit vulputate mauris a imperdiet</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>

              <a class="u-timeline-v3 d-block text-center text-md-left g-parent u-link-v5 g-mb-50" href="#">
                <div class="hidden-sm-down u-timeline-v3__icon g-absolute-centered--y g-z-index-3 g-line-height-0 g-width-16 g-height-16 g-ml-minus-8">
                  <i class="d-inline-block g-width-16 g-height-16 g-bg-white g-brd-5 g-brd-style-solid g-brd-gray-light-v4 g-rounded-50"></i>
                </div>

                <div class="row mx-0">
                  <div class="col-md-3 g-order-2 g-order-1--sm d-flex align-self-center px-0">
                    <div class="u-heading-v1-4 g-brd-gray-light-v2 w-100">
                      <span class="text-center g-pos-rel d-block g-width-110 g-line-height-1_6 g-font-weight-600 g-color-white g-font-size-14 g-bg-gray-dark-v1 g-bg-primary--parent-hover g-py-5 g-px-10 mx-auto g-ml-0--md g-transition-0_2 g-transition--ease-in">19:00 - 21:00</span>
                    </div>
                  </div>

                  <div class="col-md-9 g-order-1 g-order-2--sm px-0 g-mb-15 g-mb-0--md">
                    <div class="media d-block d-md-flex">
                      <div class="d-md-flex u-bg-overlay g-width-120 g-width-170--md g-height-120 g-height-170--md g-bg-darkblue-opacity-0_7--after g-bg-white-opacity-0--after--parent-hover g-overflow-hidden g-rounded-50x g-mr-30--md mx-auto g-mb-15 g-mb-0--md g-transition-0_2 g-transition--ease-in">
                        <img class="img-fluid g-rounded-50x" src="images/img3.jpg" alt="Image description">
                      </div>

                      <div class="media-body align-self-center">
                        <h4 class="text-uppercase g-font-weight-700 g-font-size-12 g-color-primary g-mb-5">21 September 2017</h4>
                        <h3 class="text-uppercase g-font-weight-700 g-font-size-23 g-mb-10">Dave Furman</h3>
                        <p class="g-color-gray-dark-v5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut scelerisque odio, a viverra arcu. Nulla ut suscipit velit, non dictum quam. Proin hendrerit vulputate mauris a imperdiet</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>


            </div>
          </div>



        </div>
        <!-- End Tab panes -->
      </div>
    </section>
    <!-- End Timeline -->



    <!-- Quote -->
    <div class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
      <div class="divimage dzsparallaxer--target w-100 g-bg-size-cover g-bg-img-hero g-bg-cover g-bg-black-opacity-0_6--after" style="height: 130%; background-image: url(images/people.jpg);"></div>

      <div class="container text-center g-pos-rel g-z-index-1 g-py-100">
        <blockquote class="g-color-white g-font-family-merriweather g-font-size-30 g-font-size-40--md g-line-height-1_4 g-mb-50">
          <span class="g-color-primary g-font-family-ptsans g-font-size-90 g-line-height-0_7 g-pos-rel g-top-30">&#8220;</span>
          For we are members of his body
          <span class="g-color-primary g-font-family-ptsans g-font-size-90 g-line-height-0_7 g-pos-rel g-top-30">&#8221;</span>
        </blockquote>
        <h4 class="g-color-white g-font-size-15 text-uppercase mb-1"><span class="d-inline-block align-middle g-width-40 g-height-2 g-bg-primary mr-3"></span> Eph 5:30</h4>
      </div>
    </div>
    <!-- End Quote -->



    <!-- Gallery -->
    <section class="container-fluid g-px-0">
      <div class="row align-items-center no-gutters">
        <div class="col-md-6">
          <div class="text-center g-pa-15x">
            <div class="mb-5">
              <h3 class="h1 g-color-black mb-4">Be Equipped</h3>
              <p class="g-color-gray-dark-v4 g-font-size-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut scelerisque odio, a viverra arcu. Nulla ut suscipit velit, non dictum quam. Proin hendrerit vulputate mauris a imperdiet</p>
            </div>
            <a class="btn u-btn-outline-primary g-font-weight-600 g-rounded-50 g-px-30 g-py-13" href="#">Learn more
              <i class="ml-2 fa fa-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="g-flex-centered g-min-height-600 g-bg-secondary text-center">
            <div class="g-pa-25">
              <img class="img-fluid u-shadow-v21" src="images/img15.jpg" alt="Image Description">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Gallery -->




          <!-- Section Content -->
          <section id="musicList" class="g-bg-gray-light-v5 g-py-100">
            <div class="container text-center g-width-780 g-mb-65">
              <div class="g-brd-primary">
                <h2 class="text-uppercase u-heading-v2__title g-line-height-1 g-font-weight-700 g-font-size-30 g-font-size-40--md mb-0">Latest Sermon</h2>
              </div>
            </div>

            <div class="container">
              <div id="musicListAccordion" class="text-uppercase u-accordion"
                   role="tablist"
                   aria-multiselectable="true">




                <!-- Card -->
                <div class="card g-brd-none rounded-0 g-mb-1">
                  <div id="musicListAccordionHeading3" class="u-accordion__header g-pa-0"
                       role="tab">
                    <div class="collapsed w-100 d-md-table g-color-gray-dark-v5"
                         role="button"
                         data-target="#musicListAccordionBody3"
                         data-toggle="collapse"
                         data-parent="#musicListAccordion"
                         aria-expanded="false"
                         aria-controls="musicListAccordionBody3">
                      <div class="clearfix d-md-table-cell g-valign-middle g-pa-20">
                        <!-- Track Num -->

                        <!-- End Track Num -->

                        <!-- Track Avatar -->
                        <img class="d-inline-block g-mr-25" src="images/img1d.jpg" alt="Image Description">
                        <!-- End Track Avatar -->
                        <!-- Track Title -->
                        <h6 class="d-inline-block g-font-size-13 g-font-weight-700 g-color-black mb-0">Anxiety</h6>  - Preacher: Dave Furman
                        <!-- End Article Title -->
                      </div>

                      <div class="d-md-table-cell hidden-sm-down g-font-weight-700 g-valign-middle g-width-100 g-px-20 g-py-5">10/13/2017</div>

                      <div class="d-md-table-cell hidden-md-down g-font-weight-700 g-valign-middle g-width-100 g-px-20 g-py-5">30:22</div>


                      <!-- End Track Price -->

                      <!-- Buy Track -->
                      <div class="text-md-right d-md-table-cell g-valign-middle g-width-140--md g-pa-20">
                        <a href="#" class="btn btn-xl rounded-0 w-100 u-btn-primary g-font-weight-700 g-font-size-12">Play</a>
                      </div>
                      <!-- End Buy Track -->
                    </div>
                  </div>

                  <div id="musicListAccordionBody3" class="collapse g-bg-gray-dark-v1 g-color-white"
                       role="tabpanel"
                       aria-labelledby="musicListAccordionHeading3">
                    <div class="u-accordion__body p-0">
                      <div class="u-audio-v2 g-bg-black-opacity-0_5">
                        <audio class="js-audio" controls>
                          <source src="assets/audio/track3.mp3" type="audio/mp3">
                        </audio>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Section Content -->



  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>
  {{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{/* Check to see if the section is defined for ranging through it */}}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{/* Derive the section name  */}}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}

    <div class="pa3 pa4-ns w-100 w-70-ns center">

        {{ $t := .Site.GetPage "page" "4lTXE8Aw9qm4KSEuaOa4g4.md"  }}
        <li class="nav-item active g-my-5">
            <a href="#" class="nav-link">T1: {{ $t.Params.menugroups }} <span class="sr-only">(current)</span></a>
          </li>

          {{ range $t.Params.menugroups }}
          TR: {{ . }}
          {{ end }}
      
      {{ with .Site.GetPage "page" "4lTXE8Aw9qm4KSEuaOa4g4" }}
        <h1>MENU1</h1>
        {{ end }}

      {{ range .Params.listOfSmallgroups }}
      Tryout: {{ with $.Site.GetPage "page" . }}{{ .Params.slug }}<br>{{ end }}
      {{ end }}

      {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
       {{ with .Site.GetPage "section" $section_name }}
          <h1 class="flex-none">
            Recent: {{ .Title }}
          </h1>
        {{ end }}

      <section class="w-100 mw8">
        {{/* Range through the first three items of the section */}}
        {{ range (first 3 $section) }}
          <div class="relative w-100 mb4">
            {{ partial "summary-with-image.html" . }}
          </div>
        {{ end }}
      </section>

    {{ if ge $section_count 4 }}
      <section class="w-100">
        <h1 class="f3">More</h1>
        {{/* Now, range through the next four after the initial 3 items. Nest the requirements, "after" then "first" on the outside */}}
        {{ range (first 4 (after 3 $section))  }}
          <h2 class="f5 fw4 mb4 dib mr3">
            <a href="{{ .URL }}" class="link black dim">
              {{ .Title }}
            </a>
          </h2>
        {{ end }}

        {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
        {{ with .Site.GetPage "section" $section_name }}
          <a href="{{ .URL }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">All {{.Title }}</a>
        {{ end }}
        </section>
      {{ end }}

      </div>
  {{ end }}
{{ end }}
